" Show linenumber
set number

" Show matching brackets
set showmatch

" Highlight line where cursor is
set cursorline

" Color default line break column + all columns from 120 to right
let &colorcolumn="88,".join(range(120, 999),",")

" Set theme
set termguicolors
set background=light
colorscheme edge

" Try to autoindent when adding a new line
set smartindent

" Always expand tabs to spaces
set expandtab

" Set basic indent to be 4 spaces
set shiftwidth=4
set softtabstop=4
set tabstop=4

" Make hard line break on 88
set textwidth=88

" Ignore case normally, but override ignoring if search contains upper chars
set ignorecase
set smartcase

" Write backup files
set backup
" Set backup dir and create it if necessary
if empty(glob('$XDG_DATA_HOME/nvim/backup/'))
    silent !mkdir -p $XDG_DATA_HOME/nvim/backup
endif
set backupdir=~/.local/share/nvim/backup//

" Always use UTF-8
set fileencoding=utf-8

" Use persistent undo between sessions
set undofile

" Save bookmarks and history to cache
let g:netrw_home=$XDG_CACHE_HOME.'/nvim'

" Ignore following files when completing
set wildignore=*.o,*~,*.pyc
set wildignore+=*/.git/*,*/.hg/*,*/.svn/*,*/.DS_Store

" No annoying sound or visuals on errors
set noerrorbells
set novisualbell

" Don't wait so long for mapped seq to be completed
set timeoutlen=500

" Set lower delay for highlighting words, autosoveing and cursorhold triggers
set updatetime=300

" Return to last edit position when opening files
autocmd BufReadPost *
      \ if line("'\"") >= 1 && line("'\"") <= line("$") && &ft !~# 'commit'
      \ |   exe "normal! g`\""
      \ | endif

" Trigger `autoread` when files changes on disk and notify after file change
set autoread
autocmd FocusGained, BufEnter, CursorHold, CursorHoldI * if mode() != 'c' | checktime | endif
autocmd FileChangedShellPost *
  \ echohl WarningMsg | echo "File changed on disk. Buffer reloaded." | echohl None

{{- if eq .chezmoi.hostname "mahisbook" }}
" Add homebrew fzf to runtimepath
set runtimepath+=/usr/local/opt/fzf
{{- end }}

" Use system python
let g:python3_host_prog = '/usr/bin/python3'

" Set some extra diff-heuristics: https://vimways.org/2018/the-power-of-diff/
set diffopt+=indent-heuristic,algorithm:patience

" Set neovim to use system clipboard
set clipboard=unnamedplus

" Always use current neovim instance as preferred text editor
if has('nvim') && executable('nvr')
    let $VISUAL="nvr -cc split --remote-wait +'set bufhidden=wipe'"
endif

" Run chezmoi --apply after editing files in chezmoi directory
autocmd BufWritePost ~/.local/share/chezmoi/* ! chezmoi apply --source-path %
