{{-  $aerc_mailboxes := default (get .aerc "mailboxes") ("[]") | fromJson -}}
{{-  $spotifyd_username := default (get .newsboat "username") (promptString "Spotify account") -}}
{
  "data": {
    "aerc": {
      "mailboxes": {{ $aerc_mailboxes | toPrettyJson }}
    },
    "spotifyd": {
      "username": {{ $spotifyd_username | quote }}
    }
  },
  "diff": {
    "format": "git",
    "pager": "diff-so-fancy"
  }
}
