{{-  $aerc_mailboxes := default (get .aerc "mailboxes") ("[]") | fromJson -}}
{{-  $newsboat_url := default (get .newsboat "url") (promptString "Miniflux server url") -}}
{{-  $newsboat_login := default (get .newsboat "login") (promptString "Miniflux account") -}}
{{-  $newsboat_pass_entry := default (get .newsboat "pass_entry") (promptString "Path to miniflux password in pass") -}}
{{-  $spotifyd_username := default (get .newsboat "username") (promptString "Spotify account") -}}
{{-  $spotifyd_pass_entry := default (get .newsboat "pass_entry") (promptString "Path to spotify password in pass") -}}
{{-  $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{
  "data": {
    "aerc": {
      "mailboxes": {{ $aerc_mailboxes | toPrettyJson }}
    },
    "computer": {{ $computerName | quote }},
    "newsboat": {
      "url": {{ $newsboat_url | quote }},
      "login": {{ $newsboat_login | quote }},
      "pass_entry": {{ $newsboat_pass_entry | quote }}
    },
    "spotifyd": {
      "username": {{ $spotifyd_username | quote }},
      "pass_entry": {{ $spotifyd_pass_entry | quote }}
    }
  },
  "diff": {
    "format": "git",
    "pager": "diff-so-fancy"
  }
}
