# Don't add files or folders that mainly contain just auth tokens and temp stuff
TabNine/
aerc/accounts.conf
android/
boot/loader/random-seed
coc/
configstore/
chromium/
dconf/
discord/
docker/config.json
fonts/.uuid
gnupg/
gomuks/
hub
java/
libreoffice/
offlineimap/pass_get_details.pyc
pulse/
spotify-tui/
syncthing/
systemd/user/default.target.wants/
systemd/user/timers.target.wants/
tmc-cli/
vdirsyncer/status/
zsh/.p10k.zsh
zsh/.zcompdump
mimeapps.list
