# Don't add files or folders that mainly contain just auth tokens and temp stuff
Slack/
aerc/accounts.conf
boot/loader/random-seed
configstore/
dconf/
discord/
docker/config.json
gnupg/
hub
offlineimap/pass_get_details.pyc
pulse/
spotify-tui/
syncthing/
tmc-cli/
vdirsyncer/status/
weechat/logs/
weechat/matrix/
weechat/weechat.log
zsh/.p10k.zsh
zsh/.zcompdump
