# Note: This file is always sourced. 
# Set XDG Base Directories
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share
export XDG_DATA_DIRS=/usr/local/share:/usr/share
export XDG_CONFIG_DIRS=/etc/xdg

# Set some programs to use XDG Base Directories
export CARGO_HOME=$XDG_CACHE_HOME/cargo
export DOCKER_CONFIG=$XDG_CONFIG_HOME/docker
export GNUPGHOME=$XDG_CONFIG_HOME/gnupg
export GOPATH=$XDG_CACHE_HOME/go
export LESSHISTFILE=$XDG_DATA_HOME/less_history
export NODE_REPL_HISTORY=$XDG_DATA_HOME/node_repl_history
export NOTMUCH_CONFIG=$XDG_CONFIG_HOME/notmuch/config
export NPM_CONFIG_USERCONFIG=$XDG_CONFIG_HOME/npm/npmrc
export NVM_DIR=$XDG_CACHE_HOME/nvm
export PASSWORD_STORE_DIR=$XDG_DATA_HOME/pass
export PYENV_ROOT=$XDG_CACHE_HOME/pyenv
export RUSTUP_HOME=$XDG_CACHE_HOME/rustup
export SQLITE_HISTORY=$XDG_DATA_HOME/sqlite_history
export WGETRC=$XDG_CONFIG_HOME/wget/wgetrc
export ZDOTDIR=$XDG_CONFIG_HOME/zsh

# Set up visual and editor
export VISUAL=nvim
export EDITOR=$VISUAL
export BROWSER=firefox

# Development stuff
export REACT_APP_BROWSER=firefox-developer-edition

{{- if eq .chezmoi.os "linux" }}
# Set some X11 / wayland spesific fixes
export MOZ_ENABLE_WAYLAND=1
export _JAVA_AWT_WM_NONREPARENTING=1
{{- end }}
