{{ if not (eq .chezmoi.hostname "MacBook-work") -}}
# Set gpg to use graphical pinentry
pinentry-program /usr/local/bin/pinentry-mac
{{ end -}}

# Set cache for two days
max-cache-ttl 604800
default-cache-ttl 604800
