# TODO: Make this better by not hardcoding

[general]
accounts = mail 
pythonfile = ~/.config/offlineimap/pass_get_details.py

[Account mail]
localrepository = mail-local
remoterepository = mail-remote

[Repository mail-local]
type = Maildir
localfolders = {{ .offlineimap_mail_localfolders }}

[Repository mail-remote]
type = IMAP
remotehost = {{ .offlineimap_mail_remotehost }}
remotepasseval = get_pass("{{ .offlineimap_mail_remote_pass_entry }}")
remoteusereval = get_user("{{ .offlineimap_mail_remote_pass_entry }}")
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
