[general]
accounts = mail 
pythonfile = ~/.config/offlineimap/pass_get_details.py

[Account mail]
localrepository = mail-local
remoterepository = mail-remote

[Repository mail-local]
type = Maildir
localfolders = {{ .offlineimap_mail_localfolders }}

[Repository mail-remote]
type = IMAP
remotehost = {{ .offlineimap_mail_remotehost }}
remotepasseval = get_pass("{{ .offlineimap_mail_remote_pass_entry }}")
remoteusereval = get_user("{{ .offlineimap_mail_remote_pass_entry }}")
{{- if eq .chezmoi.os "linux" }}
sslcacertfile = /etc/ssl/certs/ca-certificates.crt
{{- else if eq .chezmoi.os "darwin" }}
sslcacertfile = /usr/local/etc/openssl@1.1/cert.pem
{{- end }}
