[user]
	  name = Otto Ahoniemi
	  email = {{ .git_email }}
[push]
    default = matching
[alias] 
    ap = add -p
    aa = add -A
    a = add
    s = status
    d = diff
    dt = difftool
    co = checkout
    br = branch
    last = log -1 HEAD
    cm = commit -m
    cedit = commit --amend
    cane = commit --amend --no-edit
    hist = log --pretty=format:'%h %aD | %s%d [%an]' --graph --date=short
    root = rev-parse --show-toplevel
    sshow = stash show -p
    sdrop = stash drop stash@{0}
    ssave = stash save -u
