[user]
	name = Otto Ahoniemi
	email = {{ .git_email }}
[push]
    default = matching
[alias] 
    ap = add -p
    aa = add -A
    a = add
    s = status
    d = diff
    dt = difftool
    co = checkout
    br = branch
    last = log -1 HEAD
    cm = commit -m
    cedit = commit --amend
    cane = commit --amend --no-edit
    hist = log --pretty=format:'%h %aD | %s%d [%an]' --graph --date=short
    root = rev-parse --show-toplevel
    sshow = stash show -p
    sdrop = stash drop stash@{0}
    ssave = stash save -u
[merge]
    tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diffj]
    tool = vimdiff
[difftool]
    prompt = true
[difftool "vimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
