# Set some better defaults
alias grep="grep --color=auto"
alias info="info --vi-keys"
alias ls="exa"
alias cat="bat"
alias prev="bat"
alias rm='echo -E "use \"\\rm\", if you really need to rm. Otherwise use \"trash\"."; false'

# Listing commands
alias la="exa -la"
alias ll="exa -l"
alias lr="exa -Rl"

# Backtracking
alias ...="cd ../.."
alias ....="cd ../../.."

{{- if eq .chezmoi.hostname "mahisbook" }}
# Aliases for daily tools
alias mail="aerc"
alias spotify="pkill spotifyd; spotifyd && spt; pkill spotifyd"
alias todo="nvim ~/documents/todo/todo.txt"
alias todone="nvim ~/documents/todo/done.txt"
alias trash-empty="trash -e"
{{- else }}
# Sys admin aliases
alias sys="systemctl"
alias sysu="systemctl --user"

# Docker aliases
alias dlogs="docker logs --tail 100 --follow"
{{- end }}
