# Set some better defaults
alias diff="diff --color=auto"
alias grep="grep --color=auto"
alias info="info --vi-keys"
alias ls="exa"
alias cat="bat"
alias prev="bat"
alias rm='echo -E "use \"\\rm\", if you really need to rm. Otherwise use \"trash\"."; false'

# Listing commands
alias la="exa -la"
alias ll="exa -l"
alias lr="exa -Rl"

# Backtracking
alias ...="cd ../.."
alias ....="cd ../../.."

# Aliases for daily tools
alias calendar="vdirsyncer sync && khal interactive && vdirsyncer sync"
alias mail="offlineimap && aerc && offlineimap"
alias spotify="pkill spotifyd; spotifyd && spt; pkill spotifyd"
alias todo="$EDITOR ~/documents/todo/todo.txt"
alias todone="$EDITOR ~/documents/todo/done.txt"
{{- if eq .chezmoi.os "linux" }}
alias sys="systemctl"
alias sysu="systemctl --user"
{{- else if eq .chezmoi.os "darwin" }}
alias trash-empty="trash -e"
alias o="open"
{{- end }}
