# Config file for non-zsh -settings, such as completions, other program env
# variables

{{- if eq .chezmoi.hostname "archis" }}

# Add s-search completions
# source /usr/share/bash-completion/completions/s

# Add fzf completions and keybindings
source /usr/share/fzf/completion.zsh
source /usr/share/fzf/key-bindings.zsh

# Setup nvm, load nvm script and add completions
[[ -z "$NVM_DIR" ]] && export NVM_DIR=$XDG_CACHE_HOME/nvm
source /usr/share/nvm/nvm.sh
source /usr/share/nvm/bash_completion

# Load pyenv
[[ $PATH != *"$(pyenv root)/shims"* ]] && eval "$(pyenv init -)"

{{- else if eq .chezmoi.hostname "mahisbook" }}

# Setup fzf, add completions and keybindings
[[ "$PATH" != *"/usr/local/opt/fzf/bin"* ]] && export PATH=/usr/local/opt/fzf/bin:$PATH
[[ $- == *i* ]] && source "/usr/local/opt/fzf/shell/completion.zsh" 2> /dev/null
source "/usr/local/opt/fzf/shell/key-bindings.zsh"
bindkey "©" fzf-cd-widget
{{- end }}

# Add SSH hostname completions from ~/.ssh/config
h=()
if [[ -r ~/.ssh/config ]]; then
  h=($h ${${${(@M)${(f)"$(cat ~/.ssh/config)"}:#Host *}#Host }:#*[*?]*})
fi

if [[ $#h -gt 0 ]]; then
  zstyle ':completion:*:ssh:*' hosts $h
  zstyle ':completion:*:slogin:*' hosts $h
fi

# Setup fzf defaults
export FZF_DEFAULT_OPTS='--height 50% --layout=reverse'
export FZF_DEFAULT_COMMAND='fd -H --follow'
export FZF_ALT_C_COMMAND='fd -H --follow --type directory'
export FZF_CTRL_T_COMMAND='fd -H --follow --type file'

# Set correct tty for GPG, load agent
export GPG_TTY=$(tty)
gpg-connect-agent updatestartuptty /bye >/dev/null

# Avoid nvim nesting
if [ -n "$NVIM_LISTEN_ADDRESS" ]; then
    if [ -x "$(command -v nvr)" ]; then
        alias nvim=nvr
    fi
fi

# Add custom local bin to PATH
[[ $PATH != *"$HOME/.local/bin"* ]] && export PATH=$HOME/.local/bin:$PATH
