# Create folder and cd to it
function mcd() {
    mkdir $1 && cd $1
}

# Cd to folder and list content
function cl() {
    cd $1 && ls .
}

# Cleanup cache
function cache_cleanup() {
    read \?"This will cleanup cache from last 6 months. Are you sure (y/n)? "
    echo
    if [[ $REPLY =~ ^[Yy]$ ]]; then
        find ~/.cache/ -depth -type f -atime +182 -delete
    fi
}

# Print terminal color palette
palette() {
    local -a colors
    for i in {000..255}; do
        colors+=("%F{$i}$i%f")
    done
    print -cP $colors
}

# Print terminal color code formatted 
# Usage: printcolor COLOR_CODE
printcolor() {
    local color="%F{$1}"
    echo -E ${(qqqq)${(%)color}}
}

# Update zsh plugins
function update_plugins() {
    antibody bundle < $ZDOTDIR/.zsh_plugins.txt > $ZDOTDIR/.zsh_plugins.sh
}

{{- if eq .chezmoi.hostname "mahisbook" }}
# Function to write daily diary. Follows file naming conventions by 
# https://f-droid.org/en/packages/org.billthefarmer.diary/ so syncing between
# arch and android is convinient
function diary() {
    if [[ ! -d $HOME/documents/life/diary/$(date +"%Y/%m") ]]; then
        mkdir -p $HOME/documents/life/diary/$(date +"%Y/%m")
    fi

    $EDITOR $HOME/documents/life/diary/$(date +"%Y/%m/%d").txt    
}
{{- end }}
