[Unit]
Description=Run script that lists different non-pacman packages to ~/.config/packages

[Service]
Type=oneshot
ExecStart=/home/otahontas/.config/systemd/user/scripts/backup-non-pacman-package-lists.sh
