[Unit]
Description=Run non-pacman-packagelist backup after boot and once a day

[Timer]
OnBootSec=30s
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target 
