# RSS Source
urls-source "miniflux"
miniflux-url "{{ .newsboat.miniflux_url }}"
miniflux-login "{{ .newsboat.miniflux_login }}"
miniflux-passwordeval "op item get Miniflux --fields label=password --format json | jq -r '.value'"

# bind keys - vim style
unbind-key j
unbind-key k
unbind-key J
unbind-key K
bind-key j down
bind-key k up
bind-key l open
bind-key h quit
bind-key ^U pageup
bind-key ^D pagedown
