[calendars]

[[calendar]]
path = {{ .khal_calendar_path }}
color = light magenta
type = calendar

[[birthdays]]
path = {{ .khard_addressbook_path }}
color = yellow
type = birthdays
readonly = True

[locale]
timeformat = %H:%M
dateformat = %d/%m/%Y
longdateformat = %d/%m/%Y
datetimeformat = %d/%m/%Y %H:%M
longdatetimeformat = %d/%m/%Y %H:%M
