[global]
username = "{{ .spotify_username }}"
password_cmd = "pass {{ .spotifyd_pass_entry }} | sed '1q;d'"
backend = "pulseaudio"
device_name = "{{ .chezmoi.hostname }}"
bitrate = 320
volume_normalisation = false
