[global]
username = "{{ .spotifyd.username }}"
password_cmd = "op item get Spotify --fields label=password --format json | jq -r '.value'"
backend = "portaudio"
volume_controller = "softvol"
device_name = "{{ .computer }}"
bitrate = 320
volume_normalisation = false
